@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.App {
	width: 98vw;
}

#backgroundImage {
	background-image: url('../public/img/background.png');
	height: 100vh;
	padding-top: 1%;
	background-size: cover;
	background-position: center;
}

.container {
	padding: 10px 6%;
}

.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}


.nameColor {
	display: inline-block;
	color: #ff004f
}

.about {
	margin-top: 14%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;

}

.aboutImg {
	flex-basis: 35%;
}

.aboutImg img {
	border-radius: 15px;
	width: 100%;
}

.aboutContent {
	font-family: 'Roboto', sans-serif;
	flex-basis: 50%;
	font-size: 60px;
	font-weight: 600;
	color: #fff;
}

.aboutContent p {
	font-size: 25px;
}

.listHeader {
	color: #b54769;
}

.tabContents {
	font-size: 25px;
}

.name {
	color: white;
	font-size: 35px;
	font-family: 'Roboto', sans-serif;
}

.nameAndDetails {
	margin-top: 30%;
}

.tabs {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.tab a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	position: relative;

}

.tab a::after {
	content: '';
	width: 0;
	height: 3px;
	position: absolute;
	left: 0;
	top: 25px;
	background: #ff004f;
	transition: 0.5s;
}

.tab a:hover::after {
	width: 100%;
}

.subTitle {
	font-size: 60px;
	font-weight: 600;
}

.workList>img {
	border-radius: 10px;
	width: 100%;
	height: 100%;
}

.workList {
	width: 40%;
	height: 44%;
	position: relative;
}

.workList:hover>img {
	transform: scale(1.1);
}

.workList:hover>.layer {
	height: 120%;
}

.layer {
	width: 100%;
	height: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
	border-radius: 10px;
	position: absolute;
	bottom: -20px;
	left: -35px;
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	font-size: 22px;
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	transition: height 0.5s;
}

.layer h3 {
	font-size: 22px;
	margin-bottom: 5px;
}

.layer p {}

.layer a {
	color: #ff004f;
	text-decoration: none;
	line-height: 60px;
	background: #fff;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
}

.contactDetails {
	display: flex;
}

.contactLeft {
	flex-basis: 40%;
}

.contactLeft p {
	margin-top: 35px;
}

.contactRight {
	flex-basis: 60%;
}


.socialIcon {
	margin-top: 30px;
}

.icons {
	display: flex;
	padding-top: 40px;
}

.socialIcon a {
	font-size: 35px;
	width: 5%;
	margin-right: 15px;
	color: #ababab;
	display: inline-block;
	transition: transform 0.5s;
}

.socialIcon a :hover {
	color: #ff004f;
	transform: translateY(-5px);
}

.btn {
	width: -moz-fit-content;
	width: fit-content;
	padding: 14px 50px;
	margin: 50px auto;
	border-radius: 6px;
	text-decoration: none;
	background-color: #b54769;
	color: #fff;
	border: 1px solid #fff;

}

.btn2 {
	font-family: 'Poppins', sans-serif;
}

.contactRight form {
	width: 100%;
}

form input,
form textarea {
	width: 100%;
	font-family: 'Poppins', sans-serif;
	outline: none;
	background: #262622;
	padding: 15px;
	margin: 15px 0;
	color: #fff;
	font-size: 18px;
	border-radius: 6px;
}

.closeIcon {
	display: none;
}

.menuIcon {
	display: none;
}

.drawerTab {
	background: #ff004f;
	position: fixed;
	top: 0;
	left: 225px;
	justify-content: center;
	display: block;
	transition: left .5s;
	padding-top: 58px;
	z-index: 2;
	width: 150px;
	height: 100vh;
}

.portfolio {
	width: 100%;
	height: 100%;
}

.drawerTab .tab {
	display: block;
	line-height: 40px;
	padding-left: 0;
	box-sizing: border-box;
	border-top: 1px solid rgb(16 9 9 / 10%);
	margin: 20px;
	font-size: 24px;
}

@media screen and (max-width:600px) {
	#backgroundImage {
		background-image: url('../public/img/phoneBackground.png');
	}

	.name {
		font-size: 18px;
	}

	.menuIcon {
		display: block;
		font-size: 25px;
	}

	.nameAndDetails {
		margin-top: 40%;
	}

	.closeIcon {
		display: block;
		font-size: 25px;
		position: relative;
		top: 25px;
		left: 25px;
		cursor: pointer;
	}

	.tabs {
		display: none;
	}

	.subTitle {
		font-size: 45px;
	}

	.tabContents {
		font-size: 17px;
	}

	.aboutContent,
	.aboutImg {
		flex-basis: 100%;
	}

	.aboutContent p {
		font-size: 18px;

	}

	.workList {
		width: 80%;
	}

	.layer {
		font-size: 12px;
	}

	.layer a {
		width: 58px;
		height: 58px;
	}

	.contactDetails {
		flex-flow: column-reverse;
	}
}
