@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.App {
	width: 80%;
	padding: 10px 10%;
	height: 100vh;
	color: #fff;
	background-image: url('../public/img/background.png');
	font-family: 'Poppins', sans-serif;
	background-repeat: no-repeat;
}

.container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}

.nameColor {
	display: inline-block;
	color: #ff004f
}

.about {
	margin-top: 40%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;

}

.aboutImg {
	flex-basis: 35%;
}

.aboutImg img {
	border-radius: 15px;
	width: 100%;
}

.aboutContent {
	font-family: 'Roboto', sans-serif;
	flex-basis: 50%;
	font-size: 60px;
	font-weight: 600;
	color: #fff;
}

.aboutContent p {
	font-size: 25px;
}

.aboutTabs {
	color: white;
	display: flex;
	justify-content: space-evenly;
}

.tabLinks {
	position: relative;
	cursor: pointer;
}

.tabLinks::after {
	content: '';
	width: 0;
	height: 3px;
	background-color: #ff004f;
	position: absolute;
	left: 0;
	top: 24px;
	transition: 0.5s;
}

.tabLinks.activeLink:hover::after {
	width: 50%;
}

.listHeader {
	color: #b54769;
}

.tabContents {
	display: none;
	font-size: 18px;
}

.name {
	margin-top: 15%;
	color: white;
	font-size: 35px;
	font-family: 'Roboto', sans-serif;
}

.tabs {
	display: flex;
	gap: 2rem;
}

.tabs a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	position: relative;

}

.tabs a::after {
	content: '';
	width: 0;
	height: 3px;
	position: absolute;
	left: 0;
	top: 25px;
	background: #ff004f;
	transition: 0.5s;
}

.tabs a:hover::after {
	width: 100%;
}

.subTitle {
	font-size: 60px;
	font-weight: 600;
}



.workList>img {
	border-radius: 10px;
}

.workList {
	width: 500px;
	position: relative;
	margin-top: 50px;
	left: 25%;
}
.workList:hover>img {
	transform: scale(1.1);
}

.workList:hover>.layer {
	height: 350px;
}

.layer {
	width: 500px;
	height: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
	border-radius: 10px;
	position: absolute;
	left: -25px;
	bottom: -9px;
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	font-size: 14px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	transition: height 0.5s;
}

.layer h3 {
	font-weight: 900;
	font-size: 25px;
	margin-bottom: 20px;
}

.layer a {
	margin-top: 20px;
	color: #ff004f;
	text-decoration: none;
	line-height: 60px;
	background: #fff;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;

}
